.Item {
    width: 46%;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
.Item .Info {
    flex-grow: 10;
}
.Item p {
    text-transform: uppercase;
    font-size: 20px;
}