.NavBar {
    padding: 10px 50px 10px;
    background: rgba(0,0,0,0.1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.NavBar a {
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
}

.Add-Contact {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-left: 40px;
    text-decoration: none;
    background: #fff;
}

.Add-Contact:hover {
    background: lightpink;
}